<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emcel RiceMill Admin Log in</title>
    <link rel="stylesheet" href="/css/admin-login.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  </head>

  <body>

    <div class="login-container">
      <div class="login-content">
        <img src="../../Photos/Emcel logo backround removed.png" alt="Emcel Logo">
            <form class="input-container" action="/admin/login" method="POST">
              <input type="email" name="email" placeholder="Email" required>
              <input type="password" name="password" placeholder="Password" required>
              <button type="submit">Login</button>
            </form>
            <p style="color:red;"><%= message %></p>
      </div>
    </div>

    <!-- Toast Notification -->
<div id="toast"></div>
    
  </body>

</html>